src/main/resources/VORPlantCodeUpdate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsdLocal1="http://www.siebel.com/xml/Order%20Interface" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://siebel.com/asi/" targetNamespace="http://siebel.com/asi/">
  <types>
    <xsd:schema xmlns:xsdLocal1="http://www.siebel.com/xml/Order%20Interface" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/Order%20Interface">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="ListOfOrderInterface" type="xsdLocal1:ListOfOrderInterface"/>
      <xsd:complexType name="ListOfOrderInterfaceTopElmt">
        <xsd:sequence>
          <xsd:element name="ListOfOrderInterface" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfOrderInterface"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfOrderInterface">
        <xsd:sequence>
          <xsd:element name="Orders" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Orders"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Orders">
        <xsd:sequence>
          <xsd:element name="TMChieldOrderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMIBEngineNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ParentProductLine" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductAMC" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Product" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductLine" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Account" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CustomerSegment" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PurchaseOrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Active" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContractId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContractIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContractName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Approved" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ApprovedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ApprovedBy-EmployeeId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ApprovedByDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="StatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ExternalOrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillTo-FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillTo-LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipTo-FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipTo-LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillableFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CampaignId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CampaignIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CampaignName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Carrier" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Comments" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMTaxCategory" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMInvoiceFormatOrg" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOrderCategory" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMDealerState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMDivisionName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCRaisedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMInvoiceFormatDiv" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOrderPaymentType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCOrderTypeVC" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMFinalInvoiceAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOtherChargeAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPurchaseOrder" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOtherChargePercent" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMSumLineItemLineTotal" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="HoldReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DestinationInventoryLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DestinationInventoryLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DestinationInventoryLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DiscountAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="EntitlementId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="EntitlementName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShippingCharges" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShippingTerms" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="HoldFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OpportunityName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OpportunityId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderPriority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderSubType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderTypeId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ParentOrderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PayToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentTerm" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentTermId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentTermIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PersonalShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PriceList" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PriceListId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PriceListIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PrimaryOrganization" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PrimaryOrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PrimaryPositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProjectId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProjectIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProjectName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PromotionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="QuoteId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="QuoteIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="QuoteNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RequestedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Revision" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ServiceRequestId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ServiceRequestNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipComplete" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipInstructions" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CarrierPriority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SubmitDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TaxAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TaxExempt" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TaxExemptId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TaxExemptCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TaxRate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TotalVolume" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TotalVolumeUoM" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TotalWeight" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TotalWeightUoM" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OpportunityIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCFinancedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMJobCardClosedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMSRAssetNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMAssetNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMDivisionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ExpectedDeliveryDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PortalUserId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RelatedOrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PortalBenificiaryDetails" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TotalPaymentsEntered" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderTotal" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BalancePayment" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMApplicationName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCSoldToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="QuoteStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMNoPAN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderPINNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMChannel" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OTCAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMSparesOrderType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOrderReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOTCExpirydate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMOrderConfirmationNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMGSTIN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMContactEmailAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ListOfRelatedShipment" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfRelatedShipment"/>
          <xsd:element name="ListOfLineItems" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfLineItems"/>
          <xsd:element name="ListOfRelatedOrganization" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfRelatedOrganization"/>
          <xsd:element name="ListOfRelatedSalesRep" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfRelatedSalesRep"/>
          <xsd:element name="ListOfPayments" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfPayments"/>
          <xsd:element name="ListOfTMAction" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfTMAction"/>
          <xsd:element name="ListOfRelatedOrderType" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfRelatedOrderType"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfRelatedShipment">
        <xsd:sequence>
          <xsd:element name="RelatedShipment" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:RelatedShipment"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedShipment">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipmentNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfLineItems">
        <xsd:sequence>
          <xsd:element name="LineItems" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:LineItems"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LineItems">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ActionCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="StartPrice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="StatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AssetId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AssetIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AssetNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableQuantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BasePrice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillableFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMProduct" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMExcludePricingFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMExchangeDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMSalesServiceFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="UnitPrice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShippingCarrier" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Description2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DestinationInventoryLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DestinationInventoryLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DestinationInventoryLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DiscountAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DiscountPercent" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PackageNameOutbound" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RequestedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShippingCharges" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShippingTerms" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Weight" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="WeightUnitofMeasure" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="HoldFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="HoldReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="LineNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="LoanerFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderHeaderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PackageNameInbound" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ParentOrderItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PartNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RequestedQuantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipQuantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RootOrderItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipInstruction" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReturnToLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToContact-FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToContact-LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShiptoAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SiingleDelivery" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SmartPartNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TaxAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMTaxName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="UnitofMeasure" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Volume" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="VolumeUnitofMeasure" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ShipToAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AdjustedListPriceDisplay" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DiscountAmountDisplay" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DiscountPercentDisplay" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="LineTotal" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="MR" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="MinimumQuantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductDescription" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMSRActionTaken" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ConvenienceCharge" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCAMCContractPeriod" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCAMCEnqContractKM" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPCAMCType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMVORPlantCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ListOfPromisedScheduleLines" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfPromisedScheduleLines"/>
          <xsd:element name="ListOfRequestedScheduleLines" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfRequestedScheduleLines"/>
          <xsd:element name="ListOfAttributes" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfAttributes"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfRelatedOrganization">
        <xsd:sequence>
          <xsd:element name="RelatedOrganization" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:RelatedOrganization"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedOrganization">
        <xsd:sequence>
          <xsd:element name="Organization" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfRelatedSalesRep">
        <xsd:sequence>
          <xsd:element name="RelatedSalesRep" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:RelatedSalesRep"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedSalesRep">
        <xsd:sequence>
          <xsd:element name="Login" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Position" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfPayments">
        <xsd:sequence>
          <xsd:element name="Payments" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Payments"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Payments">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AuthorizationCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AuthorizationDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BillToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CardHolder" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CreditCheckMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CreditCheckStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CreditCheckStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CreditCardExpirationMonth" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IssuingBankCustomerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IssuingBankName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IssuingBankPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="MerchantId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Payment" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentAccountName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentMethod" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SocialSecurityNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TransactionAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="VerificationNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CreditCardExpirationYear" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="CheckMailingAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="BankRoutingNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ContactName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PaymentComments" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCVDealerReceiptDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ApprovalDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPaymentDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMDealerDisplayName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCVPaymentAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCancellationReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPaymentRealization" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPaymentType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCVChequeDDNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCVBranchName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCVBankName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMDepositedOnBank" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMCVDealerReceiptNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPaymentBalanceAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DesiredPayDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPaymentOrgId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PortalUserId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PortalBillDeskRefNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PortalTransactionRefNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMPaymentSettledFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfTMAction">
        <xsd:sequence>
          <xsd:element name="TMAction" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:TMAction"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TMAction">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMInvoiceAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMJobBillingEmployee" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMJobCodeDesc" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMJobCodePicked" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMLineItemDiscount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMLineItemExtraCharge" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMParentProductLineName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="TMTotalJobPrice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfRelatedOrderType">
        <xsd:sequence>
          <xsd:element name="RelatedOrderType" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:RelatedOrderType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedOrderType">
        <xsd:sequence>
          <xsd:element name="OrderType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfPromisedScheduleLines">
        <xsd:sequence>
          <xsd:element name="PromisedScheduleLines" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:PromisedScheduleLines"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PromisedScheduleLines">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AvailableStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PromisedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PromisedQuantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="LineItemActionNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderItemIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="PartNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ProductName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfRequestedScheduleLines">
        <xsd:sequence>
          <xsd:element name="RequestedScheduleLines" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:RequestedScheduleLines"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestedScheduleLines">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="LineNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="OrderItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RequestedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="RequestedQuantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="SourceInventoryLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ListOfAttributes">
        <xsd:sequence>
          <xsd:element name="Attributes" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Attributes"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attributes">
        <xsd:sequence>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ActionCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="AttributeId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DataType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Hidden" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ListOfValueType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ObjectId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="ReadOnly" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Required" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Sequence" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Validation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Value" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/asi/">
      <xsd:import namespace="http://www.siebel.com/xml/Order%20Interface"/>
      <xsd:element name="TMCVVORPlantCodeUpdate_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfOrderInterface"/>
            <xsd:element name="StatusObject" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TMCVVORPlantCodeUpdate_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfOrderInterface"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="TMCVVORPlantCodeUpdate_Input">
    <part name="TMCVVORPlantCodeUpdate_Input" element="tns:TMCVVORPlantCodeUpdate_Input"/>
  </message>
  <message name="TMCVVORPlantCodeUpdate_Output">
    <part name="TMCVVORPlantCodeUpdate_Output" element="tns:TMCVVORPlantCodeUpdate_Output"/>
  </message>
  <portType name="Default">
    <operation name="TMCVVORPlantCodeUpdate">
      <input message="tns:TMCVVORPlantCodeUpdate_Input"/>
      <output message="tns:TMCVVORPlantCodeUpdate_Output"/>
    </operation>
  </portType>
  <binding name="Default" type="tns:Default">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="TMCVVORPlantCodeUpdate">
      <soap:operation soapAction="document/http://siebel.com/asi/:TMCVVORPlantCodeUpdate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Siebel_spcOrder">
    <port binding="tns:Default" name="Default">
      <soap:address location="http://localhost:8087/TMCVVORPlantCodeUpdate"/>
    </port>
  </service>
</definitions>